@import "./reset.css";
@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: rgb(0, 3, 1);
  max-width: var(--max-width);
  min-height: 100vh;
}

/*** CABEÇALHO ***/

header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 3rem;
}

.menu {
  display: flex;
  gap: 3rem;
}

.menu a {
  color: white;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

/***IMAGEM***/

main {
  display: flex;
  justify-content: center;
}

.triple img {
  max-width: 100%;
  width: 600px;
}
